numpy
pandas
seaborn
matplotlib
fastparquet

networkx

click

scikit-learn
imbalanced-learn
xgboost
snapml
pytorch-lightning
transformers
tensorboardX
lion_pytorch
xformers
flash-attn

--extra-index-url https://download.pytorch.org/whl/cu126
torch